* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
height: 100%;
}

a {
    text-decoration: none;
    color: white;
    font: 400 35px "Neucha", serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

a:hover {
    color: #278D9F;
    
}

body {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #fff;
}

.header,
.footer {
    background-color: #121C1E;
}

.header {
    position: relative;
    z-index: 3;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.header__element  {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.navigation__main-page,
.navigation__toys-page,
.navigation__tree-page {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 10px 170px 10px 0;
}

.navigation__main-page {
    padding: 10px 0px;
    margin-left: 20px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../svg/tree.svg);
}

.controls__search {
    width: 380px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    margin-right: 30px;
    border-radius: 20px;
    border: 1px solid #278D9F;
    color: #fff;
    font-size: 18px;
    background-color: rgba(31, 112, 127, .3);
    background-image: url(../svg/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 330px center;
    backdrop-filter: blur(6px);
}

.controls {
    margin-right: 20px;
}

.controls__selected {
    width: 48px;
    height: 60px;
    background-image: url(../svg/ball-2.svg);
    background-size: 48px 60px;
    background-position: left -8px;
    background-repeat: no-repeat;
    transition: .3s;
}

.controls__selected__count {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: #278D9F;
}

.navigation__main-page:hover,
.footer__element__github-link:hover,
.footer__element__school-link:hover {
    filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
}

.main {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(../bg.jpg);
}



.main__intro__ball1 {
    width: 500px;
    height: 500px;
    left: calc(50% - 550px);
    top: 150px;
    background-image: url(../ball/1.png);
}

.main__intro__ball1,
.main__intro__ball2 {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.main__intro__ball2 {
    width: 300px;
    height: 300px;
    left: calc(50% + 150px);
    top: 150px;
    background-image: url(../ball/2.png);
}

.main__intro__ball1::before,
.main__intro__ball2::before {
    content: "";
    position: absolute;
    background-color: #aaa;
    z-index: 0;
}

.main__intro__ball1::before {
    top: -210px;
    left: calc(50% - 47px);
    width: 4px;
    height: 220px;
    width: 5px;
}

.main__intro__ball2::before {
    top: -205px;
    left: calc(50% - 32px);
    width: 4px;
    height: 210px;
    width: 5px;
}

.main__intro {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main__intro__block-text {
    font: 400 53px "Neucha", serif;
    padding: 15px;
}

.main__intro__block-text,
.main__intro__block__start-button {
    border: 2px solid #278D9F;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    background-color: rgba(31, 112, 127, .3);
    text-align: center;
}

.main__intro__block__start-button {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
    padding: 10px 30px;
    outline: 1px solid;
}

.main__intro__block__start-button:hover,
.button__reset:hover {
    transition: .7s;
    transform: scale(1.1);
    cursor: pointer;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.footer {
    height: 60px;
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.footer__element {
    margin: 10px 20px;
}

.footer__element__github-link {
    display: inline-block;
    width: 110px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../svg/github.svg);
}

.footer__element__school-link {
    display: inline-block;
    width: 110px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../svg/rss.svg);
}