.popup__window__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(224, 222, 222, 0.3);
}

.popup {
  position: absolute;
  width: 600px;
  height: 200px;
  margin-top: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  border: 1px solid #278d9f;
  border-radius: 20px;
  background-color: rgba(31, 112, 127, 1);
  text-align: center;
}

.popup__button-ok {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  outline: 1px solid;
  border: 1px solid #278d9f;
  border-radius: 20px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.popup__error-message {
  font-size: 30px;
}
